/* ---------------------General---------------------------------------------------------------------------------------------------- */
:root {
  --brightGreen: #00ff00;
  --brightBlue: #00a1d6;
  --purple: #4b0082;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------App------------------------------------------------------------------------------------------------------- */
.App {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  display: grid;
  grid-template:
    "main nav" auto
    "footer nav" 50px / 1fr 54px;
  font-family: "Roboto Mono", monospace;
  font-size: max(1.7vw, 16px);
}

.AppNav {
  grid-template:
    "main nav" auto
    "footer nav" 50px / 1fr max(100px, 10vw);
}

/* ------------------Part of App--------------------------------------------------------------------------------------------------- */
main {
  width: 90%;
  margin: 5vw auto;
  grid-area: main;
  color: white;
}

.Navbar {
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--brightBlue);
  display: flex;
  padding: 5px;
  grid-area: nav;
  color: #262626;
  flex-direction: column;
  width: 54px;
  height: 100vh;
  min-height: 100vh;
  align-items: end;
  box-shadow: 2px 0px 10px 5px var(--brightBlue);
  clip-path: inset(0px 0px 0px -10px);
}

.Navbar p,
.Navbar a {
  color: #262626;
}

.icon {
  width: 45px;
  height: 45px;
}

.Navbar__links {
  padding: 0 14px;
  flex-direction: column;
  display: none;
  font-size: 16px;
  text-align: right;
}

.Navbar__links__ToggleShow {
  display: flex;
}

.Navbar__Link {
  margin-bottom: 15px;
}

.Navbar__ToggleShow {
  width: max(100px, 10vw);
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--purple);
  color: #ffff00;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-area: footer;
  width: 100%;
  min-height: 50px;
  font-size: max(1.6vw, 16px);
  box-shadow: 0px 2px 10px 5px var(--purple);
  clip-path: inset(-10px 0px 0px -10px);
}

/* ---------------------Text---------------------------------------------------------------------------------------------------- */
a {
  text-decoration: none;
  color: white;
}

.green {
  color: var(--brightGreen);
}

.clear {
  opacity: 0;
}

h1,
h2 {
  font-family: "Press Start 2P", cursive;
  color: var(--brightGreen);
  margin: 10px 0;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: max(1.6vw, 16px);
}

/* ------------------Landing Page------------------------------------------------------------------------------------------------ */
#gameLandingForm input {
  background-color: black;
  border: 1px solid rgb(98, 98, 98);
  color: white;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: max(1.7vw, 16px);
  caret-color: var(--brightGreen);
  margin-top: 10px;
  padding: 4px;
}

.centerGame {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  text-align: center;
  margin-top: 25%;
  background-color: #000000;
}

/*-----------------General Elements---------------------------------------------------------------------------------------------- */

header {
  display: grid;
  grid-template: "Title login_icon" auto / 1fr 1fr;
  margin-bottom: 20px;
}

#login_link {
  display: flex;
  margin-left: auto;
  grid-area: login_icon;
  color: white;
}

#login_link p {
  margin: 10px;
}

button {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid var(--brightBlue);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  font-size: max(1.6vw, 16px);
}

button:hover {
  border: 2px solid var(--brightGreen);
}

button:disabled {
  border: 2px solid #7e7e7e;
}

.modal {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: min(90%, 300px);
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 8px double var(--brightBlue);
  border-radius: 15px;
}

.modal .closeModal {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: large;
  padding: auto;
}

select {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid var(--brightBlue);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 2px;
}

.reviewCards .reviewCard img {
  width: 90%;
  display: block;
  margin: 10px auto;
}

.singleReview .reviewCard img {
  width: min(90%, 400px);
}

.reviewCards .reviewCard {
  width: 90%;
  border: 8px double var(--brightBlue);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.reviewCards .reviewCard:hover {
  border: 8px double var(--brightGreen);
}

@media only screen and (min-width: 768px) {
  .reviewCards .reviewCard {
    width: min(44%, 500px);
  }

  .reviewCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.commentCard {
  width: 90%;
  border: 8px double var(--brightBlue);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

textarea {
  display: block;
  width: 95%;
  height: max(100px);
  margin: 5px auto;
  padding: 5px;
  caret-color: var(--brightGreen);
  background-color: black;
  color: white;
}

#commentsModal {
  width: 90%;
}

/* -------------------------Pixel Heart Element---------------------------------------------------------------------------- */

.pixel-block {
  width: 60px;
  height: 50px;
}

.pixel-block:disabled .pixelized--heart,
.pixel-block:disabled:hover .pixelized--heart {
  box-shadow: 10px 0px white, 15px 0px white, 25px 0px white, 30px 0px white,
    5px 5px white, 10px 5px red, 15px 5px red, 20px 5px white, 25px 5px red,
    30px 5px red, 35px 5px white, 0px 10px white, 5px 10px red, 10px 10px red,
    15px 10px red, 20px 10px red, 25px 10px red, 30px 10px red, 35px 10px red,
    40px 10px white, 0px 15px white, 5px 15px red, 10px 15px red, 15px 15px red,
    20px 15px red, 25px 15px red, 30px 15px red, 35px 15px red, 40px 15px white,
    5px 20px white, 10px 20px red, 15px 20px red, 20px 20px red, 25px 20px red,
    30px 20px red, 35px 20px white, 10px 25px white, 15px 25px red,
    20px 25px red, 25px 25px red, 30px 25px white, 15px 30px white,
    20px 30px red, 25px 30px white, 20px 35px white;
}

.pixel-block:hover .pixelized--heart {
  box-shadow: 10px 0px white, 15px 0px white, 25px 0px white, 30px 0px white,
    5px 5px white, 10px 5px grey, 15px 5px grey, 20px 5px white, 25px 5px grey,
    30px 5px grey, 35px 5px white, 0px 10px white, 5px 10px grey, 10px 10px grey,
    15px 10px grey, 20px 10px grey, 25px 10px grey, 30px 10px grey,
    35px 10px grey, 40px 10px white, 0px 15px white, 5px 15px grey,
    10px 15px grey, 15px 15px grey, 20px 15px grey, 25px 15px grey,
    30px 15px grey, 35px 15px grey, 40px 15px white, 5px 20px white,
    10px 20px grey, 15px 20px grey, 20px 20px grey, 25px 20px grey,
    30px 20px grey, 35px 20px white, 10px 25px white, 15px 25px grey,
    20px 25px grey, 25px 25px grey, 30px 25px white, 15px 30px white,
    20px 30px grey, 25px 30px white, 20px 35px white;
}

.pixelized--heart {
  margin-top: -20px;
  display: block;
  background-color: none;
  width: 5px;
  height: 5px;
  box-shadow: 10px 0px white, 15px 0px white, 25px 0px white, 30px 0px white,
    5px 5px white, 20px 5px white, 35px 5px white, 0px 10px white,
    40px 10px white, 0px 15px white, 40px 15px white, 5px 20px white,
    35px 20px white, 10px 25px white, 30px 25px white, 15px 30px white,
    25px 30px white, 20px 35px white;
}

/* ------------------------------Switch for ASC/DESC------------------------------------------------------------------------ */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  /* top: 2px; */
  width: 98px;
  height: 34px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid var(--brightBlue);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 2px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-top: 5px;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
}

.switch .slider p {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 45px;
  left: 2px;
  bottom: 2px;
  border-radius: 6px;
  background-color: rgb(253, 253, 253);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--brightBlue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--brightBlue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
}
